html, body, div {
    margin: 0;
    padding: 0;
}

div {
    background-color: #f7f7f7;
    padding: 1em;
}

div.container {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

div.section {
    background-color: #eee;
    width: 33%;
    display: inline-block;
    text-align: center;
}

div.nav {
    padding: 0;
    background-color: black;
}

em {
    color: forestgreen;
    display: inline;
}

h1 {
    text-align: center;
    margin: 0 0 15px 0;
}

h1.radical {
    background-color: black;
    color: pink;
    padding-top: 10px;
    margin: 0;
}
